<!doctype html>
<html>
<head>
<title>Our Funky HTML Page</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/framestyle.css">
<style> 
    #add {
        position: fixed;
        bottom: 0px;
        width: 100vw;
        height: 160px;
        background-image: url({{imageURL}});
        background-size: cover;
        z-index: 1000000;
        transition: bottom 1s;
    }
</style>
<script src="/js/amplitude.js"></script>
</head>
<body>

    <iframe id="inlineFrameExample"
    src={{menuURL}}>
    </iframe>
    
    <a href={{link}}>
    <div id='add'>
        <p id='add-caption'>{{title}}</p>
    </div>

    <article id="config-data" data-restaurantname={{restaurantName}} data-amplitudeapikey={{amplitudeAPIKey}}></article>
</body>
<script src="/js/amplitude-menuviewed.js"></script>
</html>