<!DOCTYPE html>

<html> 
    <head> 
        <link rel="icon" href="/img/icon.png">
        <link rel='stylesheet' href='/css/styles.css'>
        <script src='./js/network-request.js'></script>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
        <div class="scores_list">
            {{#each scores}}
            <p>{{this.date}}</p>
            <p>{{this.course}}</p>
            <p>{{this.score}}</p>
            <p>{{this.putts}}</p>
            <p>{{this.fairways}}</p>
            <p>{{this.greens}}</p>
            {{/each}}
        </div>
        </div>
        {{>footer}}

        <script> 
    
        </script>
    </body>
</html>